*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-nav a.nav-link.nav-item{
  color: rgb(8, 8, 8);
}

.second_layer{
  position: absolute;
  margin-top: 35rem;
}



.first_content{

  margin-left: 10px;
    margin-top: 300px;

}
.spcl{
    color: cornflowerblue;
}
.bg_shade{
  position: relative;
    margin-top: 50rem;
 background-color: #fff;
 opacity: 0.6;
 height: 500px;
 z-index:1; 
 
}

.bg_left{
  margin-top: 20px;
  z-index:1; 
}

.bg_right{
  margin-top: 20px;
}
 
.boxes{
 position:absolute;
  
}
.popular_course{
  position: relative;
  height: 200px;
  margin-top: 150rem;
  
}

#person{
  text-align: justify;
  text-justify: inter-word;
  text-indent: 2rem;
 
}
#personBox{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#enquiry_section{
  background-color: #fff;
  opacity: 0.2;
  margin: 5rem;
  height: 300px;
 
}
#enquirybtn{
  z-index:-1;
  margin: 3rem;
}
.enquirycontent{
  width: 85%;
  text-align: justify;
  text-justify: inter-word;
  z-index: 1;
}
.log_section{
  margin: 20px 12px;
  position: absolute;
}
.log_content{
  position: relative;
  margin: 0 auto;
}
.video_page{
  position: relative;
}
.vide_section{
  margin-top: 2rem;
}

.rght_vdo{
  margin-top: 2rem;
}
.vdo_content{
  margin-top: 2rem;
}
.vdosec_2{
  position: relative;
  margin-top: 5rem;
}
.studentsectin{
  position: relative;
  background-color:#fff;
  height: 350px;

}
.stu_1{
  box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 3rem;
  height: 150px;
}
.stuRate{
  margin-top: 1rem;
}