*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navstyle:hover{
    background-color:  #115a79;
   color: black;
    border-radius: 8px;
}
.navbar-light .navbar-nav .nav-link {
    color:rgb(81, 192, 243);
    font-weight: bold;
    font-size: large;
}

#more{
    display: none;
}

.second_section{
    position: relative;
    margin-top: 70rem;
}
.first_content{
    position: absolute;
    margin-top: 20rem;
}

.text_1{
    text-align: justify;
    text-justify: inter-word;
    text-indent: 2rem;
}
.second_content{
    margin-top: 25rem;
}
.bg_shade{
    background-color:#000;
    height: 20rem;
    opacity: 0.5;
    margin: 18rem auto;
    

}

.third_section{
    margin-top: -6rem;
}
.fouth_sectin{
    margin-top: 10rem;
  
}

.fifth_section{
    margin-top: 10rem;
    height: 250px;
}
#person{
    text-align: justify;
    text-justify: inter-word;
    text-indent: 2rem;
}
.foot_text{
    text-align: justify;
    text-justify: inter-word
}
#person_box{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.enquiry_section{
    margin: 5rem 5rem;
}
.log_section{
    margin: 20px 12px;
   
  }
  .log_content{
 
    margin: 0 auto;
  }
  .video_page{
    position: relative;
  }
  .vide_section{
    margin-top: 2rem;
  }
  
  .rght_vdo{
    margin-top: 2rem;
  }
  .vdo_content{
    margin-top: 2rem;
  }
  .vdosec_2{
    position: relative;
    margin-top: 5rem;
  }
  .stu_1{
    box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 3rem;
    height: 150px;
  }
  .stuRate{
    margin-top: 1rem;
  }
  .studentsectin{
    position: relative;
    background-color:#fff;
    height: 350px;
  
  }
#checked{
    color: red;
}


  .container {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: 100%;
    
    
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  
  .container:hover .overlay {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

@media screen and (max-width: 600px) {
    .enquiry_section{
        margin-left: 2rem;

    }
    .login{
        margin: 0 auto;

    }
    .video_page{
      
        height: 1500px;
      }
     
      .fifth_section{
        margin-top: 10rem;
        height: 250px;
    }
      .rght_vdo{
        margin-top: 2rem;
      }
      .vdo_content{
        margin-top: 2rem;
      }
      .vdosec_2{
        position: relative;
        margin-top: 8rem;
        margin-left: 5rem;
      }
      .footer{
          margin:100rem auto;
          justify-content: center;
          align-items: center;
          
          
      }
     
      .footer p{
       font-size: 12px;
        
    }
      .logtext{
          font-size: 20px;
      }
      .third_section{
          margin-top: 5rem;
      }
      .bg_shade{
        background-color:#000;
        height: 15rem;
        opacity: 0.5;
        margin-top: 5rem;
        
    
    }
    .third_section{
        margin-top: 12rem; 
        background-color: rgb(81, 192, 243);
    }
    body{
        width: 100%;
        height: 50%;
        background-image: 100%;
    }
    #person{
        text-align: justify;
        text-justify: inter-word;
        text-indent: 2rem;
        height: 330px;
        margin: 3rem;
    }
    
  }
  